@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Lexend:wght@100..900&display=swap');
*/ {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lexend', Courier, monospace;
  padding: 20px;
}

section {
    margin-bottom: 40px;
}
h2{
    margin-bottom: 10px;

}

.flex-container {
    width: 90%;
    height: 200px;
    background-color: blueviolet;
    margin: 0 auto 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    border-radius: 8px;
    border: 3px solid rgb(114, 114, 204)
   
    
}
.flex-item {
    width: 80px;
    height: 80px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    border: 2px solid rgb(47, 138, 212);
}

.justify-center {
    justify-content: center;
}

.justify-flex-end {
    justify-content: flex-end;
}

.justify-column {
    flex-direction: column;
}

.justify-between{
    justify-content: space-between;
}